---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  readability-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -modernize-macro-to-enum,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-uppercase-literal-suffix,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: "*"

HeaderFilterRegex: "^src/.*"

FormatStyle: file
